@import "~ed-grid";
// @import "~edteam-style-guides";
// @import "~edteam-style-guides";
@import "~bootstrap";
// @import '~edteam-style-guides/edteam-style-guides';


.boots{
    width: 100%;
    height: 16vh;
    object-fit: cover;
}